In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
with open('fts_data.csv') as f:
    print(f)

<_io.TextIOWrapper name='fts_data.csv' mode='r' encoding='UTF-8'>

In [ ]:
df = pd.read_csv('fts_data.csv', encoding='utf-8', engine='python', decimal=',')
df.head()

,Страна,Регион РЭЦ,Регионы (РЭЦ) и Союзы,ТН ВЭД 10,Москва 2015 $,Москва 2016 $,Москва 2017 $,Москва 2018 $,Москва 2019 $,Москва 2020 $,...,Расшифровка ТН10,Расшифровка ТН6,Расшифровка ТН4,Расшифровка ТН2,Товар и код ТН ВЭД (10 знаков),Товар и код ТН ВЭД (6 знаков),Товар и код ТН ВЭД (4 знака),Товар (2 знака),Нацпроект 2021 v1,Отрасль 2021 v1
0,AB-АБХАЗИЯ,СНГ,Другие,0101299000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие лошади живые: прочие,Лошади обычные,"Лошади, ослы и их помеси",Живые животные,0101299000-Прочие лошади живые: прочие,010129-Лошади обычные,"0101-Лошади, ослы и их помеси",01-Живые животные,АПК,Продукция сельского хозяйства
1,AB-АБХАЗИЯ,СНГ,Другие,0102211000,NaN,NaN,NaN,NaN,NaN,NaN,...,"Домашний крупный рогатый скот живой, чистопоро...",Чистопородный племенной крупный рогатый скот,Крупный рогатый скот живой,Живые животные,0102211000-Домашний крупный рогатый скот живой...,010221-Чистопородный племенной крупный рогатый...,0102-Крупный рогатый скот живой,01-Живые животные,АПК,Продукция сельского хозяйства
2,AB-АБХАЗИЯ,СНГ,Другие,0104108000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие овцы живые,Овцы,Овцы и козы,Живые животные,0104108000-Прочие овцы живые,010410-Овцы,0104-Овцы и козы,01-Живые животные,АПК,Продукция сельского хозяйства
3,AB-АБХАЗИЯ,СНГ,Другие,0104209000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие козы живые,Козы,Овцы и козы,Живые животные,0104209000-Прочие козы живые,010420-Козы,0104-Овцы и козы,01-Живые животные,АПК,Продукция сельского хозяйства
4,AB-АБХАЗИЯ,СНГ,Другие,0105111900,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие цыплята племенного разведения [прародит...,Куры до 185 г,"Домашняя птица живая, то есть куры домашние (g...",Живые животные,0105111900-Прочие цыплята племенного разведени...,010511-Куры до 185 г,"0105-Домашняя птица живая, то есть куры домашн...",01-Живые животные,АПК,Продукция сельского хозяйства

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291947 entries, 0 to 291946
Data columns (total 24 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Страна                          291947 non-null  object
 1   Регион РЭЦ                      291942 non-null  object
 2   Регионы (РЭЦ) и Союзы           291942 non-null  object
 3   ТН ВЭД 10                       291947 non-null  object
 4    Москва 2015 $                  55706 non-null   float64
 5    Москва 2016 $                  61333 non-null   float64
 6    Москва 2017 $                  64535 non-null   float64
 7    Москва 2018 $                  68572 non-null   float64
 8    Москва 2019 $                  71214 non-null   float64
 9    Москва 2020 $                  67396 non-null   float64
 10   Москва 2021 $                  78220 non-null   object
 11  ТНВЭД 6                         291947 non-null  object
 12  ТНВЭД 4                         291947 non-null  object
 13  ТНВЭД 2                         291947 non-null  object
 14  Расшифровка ТН10                291947 non-null  object
 15  Расшифровка ТН6                 291947 non-null  object
 16  Расшифровка ТН4                 291947 non-null  object
 17  Расшифровка ТН2                 291947 non-null  object
 18  Товар и код ТН ВЭД (10 знаков)  291947 non-null  object
 19  Товар и код ТН ВЭД (6 знаков)   291947 non-null  object
 20  Товар и код ТН ВЭД (4 знака)    291947 non-null  object
 21  Товар (2 знака)                 291947 non-null  object
 22  Нацпроект 2021 v1               291947 non-null  object
 23  Отрасль 2021 v1                 291947 non-null  object
dtypes: float64(6), object(18)
memory usage: 53.5+ MB

In [ ]:
df[' Москва 2021 $'] = df[' Москва 2021 $'].apply(lambda x: str(x).replace('\xa0','').replace(',','.').replace('-','0'))
df[' Москва 2021 $'] = df[' Москва 2021 $'].astype(float)

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df['Страна'] = df['Страна'].apply(lambda x: str(x).replace('(','').replace(')','')) #есть, например, FM-МИКРОНЕЗИЯ, ФЕДЕРАТИВНЫЕ ШТАТЫ и FM-МИКРОНЕЗИЯ, (ФЕДЕРАТИВНЫЕ ШТАТЫ)

In [ ]:
unfriendly_countries_list = ['AU-АВСТРАЛИЯ', 'AL-АЛБАНИЯ','AD-АНДОРРА','BS-БАГАМЫ','GB-СОЕДИНЕННОЕ КОРОЛЕВСТВО','IS-ИСЛАНДИЯ','CA-КАНАДА','LI-ЛИХТЕНШТЕЙН','FM-МИКРОНЕЗИЯ','MC-МОНАКО','NZ-НОВАЯ ЗЕЛАНДИЯ','NO-НОРВЕГИЯ','KR-КОРЕЯ, РЕСПУБЛИКА','SM-САН-МАРИНО','MK-РЕСПУБЛИКА МАКЕДОНИЯ','SG-СИНГАПУР','US-СОЕДИНЕННЫЕ ШТАТЫ','TW-ТАЙВАНЬ (КИТАЙ)','UA-УКРАИНА','ME-ЧЕРНОГОРИЯ','CH-ШВЕЙЦАРИЯ','JP-ЯПОНИЯ','JE-ДЖЕРСИ','GG-ГЕРНСИ','IM-ОСТРОВ МЭН','AI-АНГИЛЬЯ','VG-ВИРГИНСКИЕ ОСТРОВА (БРИТАНСКИЕ)','GI-ГИБРАЛТАР','AT-АВСТРИЯ','BE-БЕЛЬГИЯ','BG-БОЛГАРИЯ','HU-ВЕНГРИЯ','DE-ГЕРМАНИЯ','GR-ГРЕЦИЯ','DK-ДАНИЯ','IE-ИРЛАНДИЯ','ES-ИСПАНИЯ','IT-ИТАЛИЯ','CY-КИПР','LV-ЛАТВИЯ','LT-ЛИТВА','LU-ЛЮКСЕМБУРГ','MT-МАЛЬТА','NL-НИДЕРЛАНДЫ','PL-ПОЛЬША','PT-ПОРТУГАЛИЯ','RO-РУМЫНИЯ','SK-СЛОВАКИЯ','SI-СЛОВЕНИЯ','FI-ФИНЛЯНДИЯ','FR-ФРАНЦИЯ','HR-ХОРВАТИЯ','CZ-ЧЕХИЯ','SE-ШВЕЦИЯ','EE-ЭСТОНИЯ','VI-ВИРГИНСКИЕ ОСТРОВА США']

In [95]:
fish_2  = df[df['ТНВЭД 2']=='16']
fish_2.drop(columns = ['Регион РЭЦ', 'Регионы (РЭЦ) и Союзы', 'Расшифровка ТН2', 'Товар (2 знака)', 'Нацпроект 2021 v1', 'Отрасль 2021 v1'], axis=1, inplace=True)

In [96]:
print(f"Товар (4 знака) уникальные значения: {len(fish_2['Расшифровка ТН4'].unique())}")

Товар (4 знака) уникальные значения: 6

In [97]:
fish_2['Расшифровка ТН4'].unique()

array(['Колбасные изделия', 'Готовые продукты из мяса',
       'Рыбные консервы и другие готовые продукты',
       'Консервы из водных беспозвоночных',
       'Экстракты и соки из мяса, рыбы и водных животных',
       '16-NNN-неизвестный товар'], dtype=object)

In [98]:
fish_2 = fish_2[fish_2['Расшифровка ТН4']!='16-NNN-неизвестный товар']

In [99]:
fish_10 = fish_2[['Страна', ' Москва 2015 $', ' Москва 2016 $',
       ' Москва 2017 $', ' Москва 2018 $', ' Москва 2019 $', ' Москва 2020 $',
       ' Москва 2021 $','Товар и код ТН ВЭД (10 знаков)']]

In [100]:
len(fish_10['Товар и код ТН ВЭД (10 знаков)'].unique())

117

In [101]:
ved_list = fish_10['Товар и код ТН ВЭД (10 знаков)'].unique()

In [102]:
fish_10.drop_duplicates(inplace=True)

In [103]:
best_exp_fish = pd.DataFrame(columns=['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight', '2_country', '2_country_sum', '2_country_weight', '3_country', '3_country_sum', '3_country_weight'])

In [104]:
period_list = [' Москва 2015 $', ' Москва 2016 $', ' Москва 2017 $',
       ' Москва 2018 $', ' Москва 2019 $', ' Москва 2020 $', ' Москва 2021 $']

for ved in ved_list:
  for period in period_list:
    new_representation = fish_10[['Страна', 'Товар и код ТН ВЭД (10 знаков)',period]][fish_10['Товар и код ТН ВЭД (10 знаков)']==ved].groupby('Страна').sum().round(2).sort_values(by=period,ascending=False)[:3]
    total_sum = fish_10[['Страна', 'Товар и код ТН ВЭД (10 знаков)',period]][fish_10['Товар и код ТН ВЭД (10 знаков)']==ved].groupby('Страна').sum().sum()[period].round(2)
    if len(new_representation) == 3:
      best_exp_fish.loc[ len(best_exp_fish.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), new_representation.index[1], new_representation[period][1], round(new_representation[period][1]/total_sum,2), new_representation.index[2], new_representation[period][2], round(new_representation[period][2]/total_sum,2)]
    elif len(new_representation) == 2:
      best_exp_fish.loc[ len(best_exp_fish.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), new_representation.index[1], new_representation[period][1], round(new_representation[period][1]/total_sum,2), 0, 0, 0]
    else:
      best_exp_fish.loc[ len(best_exp_fish.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), 0, 0, 0, 0, 0, 0]

<ipython-input-104-fb35a0f57f4e>:9: RuntimeWarning: invalid value encountered in double_scalars
  best_exp_fish.loc[ len(best_exp_fish.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), new_representation.index[1], new_representation[period][1], round(new_representation[period][1]/total_sum,2), new_representation.index[2], new_representation[period][2], round(new_representation[period][2]/total_sum,2)]
<ipython-input-104-fb35a0f57f4e>:11: RuntimeWarning: invalid value encountered in double_scalars
  best_exp_fish.loc[ len(best_exp_fish.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), new_representation.index[1], new_representation[period][1], round(new_representation[period][1]/total_sum,2), 0, 0, 0]
<ipython-input-104-fb35a0f57f4e>:13: RuntimeWarning: invalid value encountered in double_scalars
  best_exp_fish.loc[ len(best_exp_fish.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), 0, 0, 0, 0, 0, 0]

In [105]:
best_exp_fish.head()

,tn_ved,period,1_country,1_country_sum,1_country_weight,2_country,2_country_sum,2_country_weight,3_country,3_country_sum,3_country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2015,KZ-КАЗАХСТАН,37055.89,1.00,UA-УКРАИНА,139.04,0.00,AB-АБХАЗИЯ,0.00,0.00
1,"1601001000-Готовые пищевые продукты, изготовле...",2016,KZ-КАЗАХСТАН,24820.35,1.00,AB-АБХАЗИЯ,0.00,0.00,AZ-АЗЕРБАЙДЖАН,0.00,0.00
2,"1601001000-Готовые пищевые продукты, изготовле...",2017,KZ-КАЗАХСТАН,25678.80,0.99,NNN-НЕИЗВЕСТНАЯ СТРАНА,235.70,0.01,AB-АБХАЗИЯ,0.00,0.00
3,"1601001000-Готовые пищевые продукты, изготовле...",2018,KZ-КАЗАХСТАН,28779.21,0.96,UA-УКРАИНА,1209.43,0.04,TJ-ТАДЖИКИСТАН,2.15,0.00
4,"1601001000-Готовые пищевые продукты, изготовле...",2019,KZ-КАЗАХСТАН,34336.83,0.98,AZ-АЗЕРБАЙДЖАН,444.60,0.01,UA-УКРАИНА,287.38,0.01

In [ ]:
#best_exp_fish.to_csv('/content/best_fish.csv', index=False)

In [106]:
last_year = best_exp_fish[best_exp_fish['period']== '2021']
last_year.head()

,tn_ved,period,1_country,1_country_sum,1_country_weight,2_country,2_country_sum,2_country_weight,3_country,3_country_sum,3_country_weight
6,"1601001000-Готовые пищевые продукты, изготовле...",2021,KZ-КАЗАХСТАН,110393.53,0.96,AZ-АЗЕРБАЙДЖАН,2998.98,0.03,BY-БЕЛАРУСЬ,590.86,0.01
13,"1601009100-Колбасы, сухие или пастообразные, c...",2021,KZ-КАЗАХСТАН,1830707.98,0.63,AZ-АЗЕРБАЙДЖАН,436282.16,0.15,AM-АРМЕНИЯ,225700.43,0.08
20,"1601009900-Прочие готовые пищевые продукты, из...",2021,KZ-КАЗАХСТАН,30145337.85,0.83,AZ-АЗЕРБАЙДЖАН,4455296.94,0.12,KG-КЫРГЫЗСТАН,932339.30,0.03
27,1602100010-Гомогенизированные готовые продукты...,2021,BY-БЕЛАРУСЬ,518400.96,0.45,KZ-КАЗАХСТАН,508122.94,0.44,KG-КЫРГЫЗСТАН,55496.87,0.05
34,1602201000-Готовые или консервированные продук...,2021,KZ-КАЗАХСТАН,101030.12,0.43,VN-ВЬЕТНАМ,58130.80,0.25,UA-УКРАИНА,48405.52,0.21

In [107]:
last_year.insert(5,'friendly_1', 1)
last_year.insert(9,'friendly_2', 1)
last_year.insert(13,'friendly_3', 1)

In [108]:
last_year['friendly_1'].mask(last_year['1_country'].isin(unfriendly_countries_list), other=0, inplace=True)
last_year['friendly_2'].mask(last_year['2_country'].isin(unfriendly_countries_list), other=0, inplace=True)
last_year['friendly_3'].mask(last_year['3_country'].isin(unfriendly_countries_list), other=0, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [109]:
last_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 6 to 818
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tn_ved            117 non-null    object
 1   period            117 non-null    object
 2   1_country         117 non-null    object
 3   1_country_sum     117 non-null    float64
 4   1_country_weight  89 non-null     float64
 5   friendly_1        117 non-null    int64
 6   2_country         117 non-null    object
 7   2_country_sum     117 non-null    float64
 8   2_country_weight  94 non-null     float64
 9   friendly_2        117 non-null    int64
 10  3_country         117 non-null    object
 11  3_country_sum     117 non-null    float64
 12  3_country_weight  98 non-null     float64
 13  friendly_3        117 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 13.7+ KB

In [110]:
last_year.insert(14,'exp_sum', 0)
last_year.insert(15,'exp_weight', 0)
last_year.insert(16,'minus_exp_sum', 0)
last_year.insert(17,'minus_exp_weight', 0)

In [111]:
for i in range (len(last_year.index)):
  exp_sum = last_year['1_country_sum'].iloc[i] + last_year['2_country_sum'].iloc[i] + last_year['3_country_sum'].iloc[i]
  last_year['exp_sum'].iloc[i] = exp_sum

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()

In [112]:
for i in range (len(last_year.index)):
  exp_sum = last_year['1_country_sum'].iloc[i] + last_year['2_country_sum'].iloc[i] + last_year['3_country_sum'].iloc[i]
  sum_frendly = last_year['1_country_sum'].iloc[i]*last_year['friendly_1'].iloc[i] + last_year['2_country_sum'].iloc[i]*last_year['friendly_2'].iloc[i] + last_year['3_country_sum'].iloc[i]*last_year['friendly_3'].iloc[i]
  last_year['minus_exp_sum'].iloc[i] = exp_sum - sum_frendly

In [113]:
for i in range (len(last_year.index)):
  exp_weight = last_year['1_country_weight'].iloc[i] + last_year['2_country_weight'].iloc[i] + last_year['3_country_weight'].iloc[i]
  last_year['exp_weight'].iloc[i] = exp_weight

In [114]:
for i in range (len(last_year.index)):
  exp_weight = last_year['1_country_weight'].iloc[i] + last_year['2_country_weight'].iloc[i] + last_year['3_country_weight'].iloc[i]
  weight_frendly = last_year['1_country_weight'].iloc[i]*last_year['friendly_1'].iloc[i] + last_year['2_country_weight'].iloc[i]*last_year['friendly_2'].iloc[i] + last_year['3_country_weight'].iloc[i]*last_year['friendly_3'].iloc[i]
  last_year['minus_exp_weight'].iloc[i] = exp_weight - weight_frendly

In [118]:
minus_exp_fish = last_year[['tn_ved','exp_sum', 'exp_weight', 'minus_exp_sum', 'minus_exp_weight']]
minus_exp_fish.to_csv('/content/minus_exp_fish.csv', index=False)

In [117]:
minus_exp_fish.sort_values(by='minus_exp_weight', ascending=False)

,tn_ved,exp_sum,exp_weight,minus_exp_sum,minus_exp_weight
419,1605400009-Готовые или консервированные прочие...,59269.34,0.83,50638.64,0.71
461,1605100000-Готовые или консервированные крабы,139933.81,1.00,96794.62,0.69
440,1605550000-Осьминоги готовые или консервированные,14567.06,0.99,9113.27,0.62
475,"1605690000-Прочие водные беспозвоночные, готов...",55773.07,0.80,39858.16,0.57
356,1604200500-Готовые или консервированные продук...,451124.97,0.84,254358.96,0.47
...,...,...,...,...,...
790,1604149000-Готовая или консервированная продук...,0.00,NaN,0.00,NaN
797,1604180000-Готовые или консервированные плавни...,0.00,NaN,0.00,NaN
804,1604195000-Готовые продукты и консервы из рыбы...,0.00,NaN,0.00,NaN
811,1604199400-Готовая или консервированная продук...,0.00,NaN,0.00,NaN
818,1605620000-Морские ежи готовые или консервиров...,0.00,NaN,0.00,NaN

#Подготовка к моделированию

In [119]:
last_year.columns

Index(['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight',
       'friendly_1', '2_country', '2_country_sum', '2_country_weight',
       'friendly_2', '3_country', '3_country_sum', '3_country_weight',
       'friendly_3', 'exp_sum', 'exp_weight', 'minus_exp_sum',
       'minus_exp_weight'],
      dtype='object')

In [120]:
df_1 = last_year[['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight']]
df_1.rename(columns={'1_country': 'country', '1_country_sum': 'country_sum', '1_country_weight':'country_weight'}, inplace=True)

df_2 = last_year[['tn_ved', 'period', '2_country', '2_country_sum', '2_country_weight']]
df_2.rename(columns={'2_country': 'country', '2_country_sum': 'country_sum', '2_country_weight':'country_weight'}, inplace=True)

df_3 = last_year[['tn_ved', 'period', '3_country', '3_country_sum', '3_country_weight']]
df_3.rename(columns={'3_country': 'country', '3_country_sum': 'country_sum', '3_country_weight':'country_weight'}, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [121]:
year_21 = pd.concat([df_1,df_2,df_3], ignore_index=True)
year_21.fillna(0, inplace=True)

In [ ]:
2020

2020

In [122]:
year_2020 = best_exp_fish[best_exp_fish['period']== '2020']

df_1 = year_2020[['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight']]
df_1.rename(columns={'1_country': 'country', '1_country_sum': 'country_sum', '1_country_weight':'country_weight'}, inplace=True)

df_2 = year_2020[['tn_ved', 'period', '2_country', '2_country_sum', '2_country_weight']]
df_2.rename(columns={'2_country': 'country', '2_country_sum': 'country_sum', '2_country_weight':'country_weight'}, inplace=True)

df_3 = year_2020[['tn_ved', 'period', '3_country', '3_country_sum', '3_country_weight']]
df_3.rename(columns={'3_country': 'country', '3_country_sum': 'country_sum', '3_country_weight':'country_weight'}, inplace=True)

year_20 = pd.concat([df_1,df_2,df_3], ignore_index=True)
year_20.fillna(0, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
2019

2019

In [123]:
year_2019 = best_exp_fish[best_exp_fish['period']== '2019']

df_1 = year_2019[['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight']]
df_1.rename(columns={'1_country': 'country', '1_country_sum': 'country_sum', '1_country_weight':'country_weight'}, inplace=True)

df_2 = year_2019[['tn_ved', 'period', '2_country', '2_country_sum', '2_country_weight']]
df_2.rename(columns={'2_country': 'country', '2_country_sum': 'country_sum', '2_country_weight':'country_weight'}, inplace=True)

df_3 = year_2019[['tn_ved', 'period', '3_country', '3_country_sum', '3_country_weight']]
df_3.rename(columns={'3_country': 'country', '3_country_sum': 'country_sum', '3_country_weight':'country_weight'}, inplace=True)

year_19 = pd.concat([df_1,df_2,df_3], ignore_index=True)
year_19.fillna(0, inplace=True)

In [124]:
2018

2018

In [125]:
year_2018 = best_exp_fish[best_exp_fish['period']== '2018']

df_1 = year_2018[['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight']]
df_1.rename(columns={'1_country': 'country', '1_country_sum': 'country_sum', '1_country_weight':'country_weight'}, inplace=True)

df_2 = year_2018[['tn_ved', 'period', '2_country', '2_country_sum', '2_country_weight']]
df_2.rename(columns={'2_country': 'country', '2_country_sum': 'country_sum', '2_country_weight':'country_weight'}, inplace=True)

df_3 = year_2018[['tn_ved', 'period', '3_country', '3_country_sum', '3_country_weight']]
df_3.rename(columns={'3_country': 'country', '3_country_sum': 'country_sum', '3_country_weight':'country_weight'}, inplace=True)

year_18 = pd.concat([df_1,df_2,df_3], ignore_index=True)
year_18.fillna(0, inplace=True)

In [ ]:
2017

2017

In [126]:
year_2017 = best_exp_fish[best_exp_fish['period']== '2017']

df_1 = year_2017[['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight']]
df_1.rename(columns={'1_country': 'country', '1_country_sum': 'country_sum', '1_country_weight':'country_weight'}, inplace=True)

df_2 = year_2017[['tn_ved', 'period', '2_country', '2_country_sum', '2_country_weight']]
df_2.rename(columns={'2_country': 'country', '2_country_sum': 'country_sum', '2_country_weight':'country_weight'}, inplace=True)

df_3 = year_2017[['tn_ved', 'period', '3_country', '3_country_sum', '3_country_weight']]
df_3.rename(columns={'3_country': 'country', '3_country_sum': 'country_sum', '3_country_weight':'country_weight'}, inplace=True)

year_17 = pd.concat([df_1,df_2,df_3], ignore_index=True)
year_17.fillna(0, inplace=True)

In [ ]:
2016

2016

In [127]:
year_2016 = best_exp_fish[best_exp_fish['period']== '2016']

df_1 = year_2016[['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight']]
df_1.rename(columns={'1_country': 'country', '1_country_sum': 'country_sum', '1_country_weight':'country_weight'}, inplace=True)

df_2 = year_2016[['tn_ved', 'period', '2_country', '2_country_sum', '2_country_weight']]
df_2.rename(columns={'2_country': 'country', '2_country_sum': 'country_sum', '2_country_weight':'country_weight'}, inplace=True)

df_3 = year_2016[['tn_ved', 'period', '3_country', '3_country_sum', '3_country_weight']]
df_3.rename(columns={'3_country': 'country', '3_country_sum': 'country_sum', '3_country_weight':'country_weight'}, inplace=True)

year_16 = pd.concat([df_1,df_2,df_3], ignore_index=True)
year_16.fillna(0, inplace=True)

In [ ]:
2015

2015

In [128]:
year_2015 = best_exp_fish[best_exp_fish['period']== '2016']

df_1 = year_2015[['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight']]
df_1.rename(columns={'1_country': 'country', '1_country_sum': 'country_sum', '1_country_weight':'country_weight'}, inplace=True)

df_2 = year_2015[['tn_ved', 'period', '2_country', '2_country_sum', '2_country_weight']]
df_2.rename(columns={'2_country': 'country', '2_country_sum': 'country_sum', '2_country_weight':'country_weight'}, inplace=True)

df_3 = year_2015[['tn_ved', 'period', '3_country', '3_country_sum', '3_country_weight']]
df_3.rename(columns={'3_country': 'country', '3_country_sum': 'country_sum', '3_country_weight':'country_weight'}, inplace=True)

year_15 = pd.concat([df_1,df_2,df_3], ignore_index=True, axis=0)
year_15.fillna(0, inplace=True)

In [ ]:
#2022 для предсказания

In [129]:
year_22 = year_21['period'].apply(lambda x: 2022)

In [ ]:
#Общий df

In [130]:
year_15.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2016,KZ-КАЗАХСТАН,24820.35,1.0

In [131]:
year_16.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2016,KZ-КАЗАХСТАН,24820.35,1.0

In [132]:
year_17.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2017,KZ-КАЗАХСТАН,25678.8,0.99

In [133]:
year_18.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2018,KZ-КАЗАХСТАН,28779.21,0.96

In [134]:
year_19.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2019,KZ-КАЗАХСТАН,34336.83,0.98

In [135]:
year_20.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2020,KZ-КАЗАХСТАН,52162.13,0.95

In [136]:
year_21.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2021,KZ-КАЗАХСТАН,110393.53,0.96

In [137]:
df_for_model = pd.concat([year_15, year_16, year_17, year_18, year_19, year_20, year_21], ignore_index=True, axis=0)
df_for_model['period'] = df_for_model['period'].apply(lambda x: int(x))
df_for_model.shape

(2457, 5)

In [138]:
df_for_model.head(1)

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2016,KZ-КАЗАХСТАН,24820.35,1.0

In [139]:
#df_for_model.to_csv('/content/for_model.csv', index=False)

#Моделирование

In [141]:
from sklearn.preprocessing import OneHotEncoder

In [140]:
df_for_model['tn_ved']

0       1601001000-Готовые пищевые продукты, изготовле...
1       1601009100-Колбасы, сухие или пастообразные, c...
2       1601009900-Прочие готовые пищевые продукты, из...
3       1602100010-Гомогенизированные готовые продукты...
4       1602201000-Готовые или консервированные продук...
                              ...
2452    1604149000-Готовая или консервированная продук...
2453    1604180000-Готовые или консервированные плавни...
2454    1604195000-Готовые продукты и консервы из рыбы...
2455    1604199400-Готовая или консервированная продук...
2456    1605620000-Морские ежи готовые или консервиров...
Name: tn_ved, Length: 2457, dtype: object

In [205]:
df_for_model['tn_ved'].shape

(2457,)

In [228]:
df_for_model['country'].nunique()

36

In [232]:
year_21['country'].unique()

array(['KZ-КАЗАХСТАН', 'BY-БЕЛАРУСЬ', 'VN-ВЬЕТНАМ',
       'MD-МОЛДОВА, РЕСПУБЛИКА', 'AB-АБХАЗИЯ', 'AZ-АЗЕРБАЙДЖАН',
       'AM-АРМЕНИЯ', 'OS-ЮЖНАЯ ОСЕТИЯ', 'HK-ГОНКОНГ', 'UA-УКРАИНА',
       'US-СОЕДИНЕННЫЕ ШТАТЫ', 'NNN-НЕИЗВЕСТНАЯ СТРАНА', 'KG-КЫРГЫЗСТАН',
       'UZ-УЗБЕКИСТАН', 'AU-АВСТРАЛИЯ', 'BE-БЕЛЬГИЯ', 'GR-ГРЕЦИЯ',
       'CH-ШВЕЙЦАРИЯ', 'IL-ИЗРАИЛЬ', 'TJ-ТАДЖИКИСТАН', '0', 'MN-МОНГОЛИЯ',
       'GE-ГРУЗИЯ', 'AE-ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ', 'CN-КИТАЙ'],
      dtype=object)

In [278]:
df_for_model = df_for_model.query("country in ['KZ-КАЗАХСТАН', 'BY-БЕЛАРУСЬ', 'VN-ВЬЕТНАМ','MD-МОЛДОВА, РЕСПУБЛИКА', 'AB-АБХАЗИЯ', 'AZ-АЗЕРБАЙДЖАН','AM-АРМЕНИЯ', 'OS-ЮЖНАЯ ОСЕТИЯ', 'HK-ГОНКОНГ', 'UA-УКРАИНА','US-СОЕДИНЕННЫЕ ШТАТЫ', 'NNN-НЕИЗВЕСТНАЯ СТРАНА', 'KG-КЫРГЫЗСТАН','UZ-УЗБЕКИСТАН', 'AU-АВСТРАЛИЯ', 'BE-БЕЛЬГИЯ', 'GR-ГРЕЦИЯ','CH-ШВЕЙЦАРИЯ', 'IL-ИЗРАИЛЬ', 'TJ-ТАДЖИКИСТАН', '0', 'MN-МОНГОЛИЯ','GE-ГРУЗИЯ', 'AE-ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ', 'CN-КИТАЙ']")

In [282]:
df_for_model.reset_index(inplace=True)

In [236]:
enc = OneHotEncoder(handle_unknown='ignore')
new_ved = enc.fit_transform(df_for_model['tn_ved'].to_numpy().reshape(-1, 1))
new_ved_df = pd.DataFrame.sparse.from_spmatrix(new_ved)

In [237]:
new_ved_df

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [240]:
enc = OneHotEncoder(handle_unknown='ignore')
new_country = enc.fit_transform(df_for_model['country'].to_numpy().reshape(-1, 1))
new_country_df = pd.DataFrame.sparse.from_spmatrix(new_country)

In [241]:
new_country_df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2409,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2410,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2411,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2412,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [283]:
df_train = pd.concat([new_ved_df, new_country_df, df_for_model['period']], axis=1)

df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,period
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016

In [244]:
from sklearn.linear_model import LinearRegression

In [285]:
X = df_train
y = df_for_model[['country_sum']]

In [287]:
reg = LinearRegression().fit(X, y)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:624: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

In [288]:
year_21

,tn_ved,period,country,country_sum,country_weight
0,"1601001000-Готовые пищевые продукты, изготовле...",2022,KZ-КАЗАХСТАН,110393.53,0.96
1,"1601009100-Колбасы, сухие или пастообразные, c...",2022,KZ-КАЗАХСТАН,1830707.98,0.63
2,"1601009900-Прочие готовые пищевые продукты, из...",2022,KZ-КАЗАХСТАН,30145337.85,0.83
3,1602100010-Гомогенизированные готовые продукты...,2022,BY-БЕЛАРУСЬ,518400.96,0.45
4,1602201000-Готовые или консервированные продук...,2022,KZ-КАЗАХСТАН,101030.12,0.43
...,...,...,...,...,...
346,1604149000-Готовая или консервированная продук...,2022,UA-УКРАИНА,0.00,0.00
347,1604180000-Готовые или консервированные плавни...,2022,0,0.00,0.00
348,1604195000-Готовые продукты и консервы из рыбы...,2022,0,0.00,0.00
349,1604199400-Готовая или консервированная продук...,2022,0,0.00,0.00
350,1605620000-Морские ежи готовые или консервиров...,2022,0,0.00,0.00

In [292]:
year_21['country'] =  year_21['country'].apply(lambda x: str(x))
enc = OneHotEncoder(handle_unknown='ignore')
country_22 = enc.fit_transform(year_21['country'].to_numpy().reshape(-1, 1))
country_df = pd.DataFrame.sparse.from_spmatrix(country_22)
country_df.shape

(351, 25)

In [291]:
enc = OneHotEncoder(handle_unknown='ignore')
new_ved = enc.fit_transform(year_21['tn_ved'].to_numpy().reshape(-1, 1))
new_ved_22 = pd.DataFrame.sparse.from_spmatrix(new_ved)
new_ved_22.shape

(351, 117)

In [187]:
year_21['period'] =  year_21['period'].apply(lambda x: 2022)

In [293]:
df_test = pd.concat([new_ved_22, country_df, year_21['period']], ignore_index=True, axis=1)
df_test.dropna()

,0,1,2,3,4,5,6,7,8,9,...,133,134,135,136,137,138,139,140,141,142
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2022
347,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022
350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022

In [295]:
df_test[142] = df_test[142].apply(lambda x: 2022)

In [296]:
new_y_df  = pd.DataFrame(reg.predict(df_test))

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:624: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

In [333]:
df_result = pd.concat([year_21['tn_ved'], year_21['country'], new_y_df, ], ignore_index=True, axis=1)

In [334]:
df_result = pd.concat([df_result, year_21['period'], year_21[['country_sum']]], axis=1)
df_result

,0,1,2,period,country_sum
0,"1601001000-Готовые пищевые продукты, изготовле...",KZ-КАЗАХСТАН,318144.0,2022,110393.53
1,"1601009100-Колбасы, сухие или пастообразные, c...",KZ-КАЗАХСТАН,853888.0,2022,1830707.98
2,"1601009900-Прочие готовые пищевые продукты, из...",KZ-КАЗАХСТАН,8704768.0,2022,30145337.85
3,1602100010-Гомогенизированные готовые продукты...,BY-БЕЛАРУСЬ,421248.0,2022,518400.96
4,1602201000-Готовые или консервированные продук...,KZ-КАЗАХСТАН,286464.0,2022,101030.12
...,...,...,...,...,...
346,1604149000-Готовая или консервированная продук...,UA-УКРАИНА,-3264.0,2022,0.00
347,1604180000-Готовые или консервированные плавни...,0,61824.0,2022,0.00
348,1604195000-Готовые продукты и консервы из рыбы...,0,61696.0,2022,0.00
349,1604199400-Готовая или консервированная продук...,0,61632.0,2022,0.00
350,1605620000-Морские ежи готовые или консервиров...,0,61824.0,2022,0.00

In [335]:
df_result.rename(columns={0: 'tn_ved', 1: 'country', 2:'country_sum_2022', 'country_sum': 'country_sum_2021'}, inplace=True)

In [345]:
df_result['country_sum_2022'] = df_result['country_sum_2022'].apply(lambda x: 0 if x < 0 else x)

In [346]:
df_result.to_csv('/content/model_for_2022.csv', index=False)

In [347]:
df_result[['tn_ved',	'country',	'country_sum_2022', 'country_sum_2021']].groupby(['tn_ved', 'country']).sum()

                                                                         country_sum_2022  \
tn_ved                                             country
1601001000-Готовые пищевые продукты, изготовлен... AZ-АЗЕРБАЙДЖАН                     0.0
                                                   BY-БЕЛАРУСЬ                   133888.0
                                                   KZ-КАЗАХСТАН                  318144.0
1601009100-Колбасы, сухие или пастообразные, cырые AM-АРМЕНИЯ                    610496.0
                                                   AZ-АЗЕРБАЙДЖАН                435008.0
...                                                                                   ...
1605620000-Морские ежи готовые или консервирова... 0                             123648.0
                                                   KZ-КАЗАХСТАН                  117632.0
1605690000-Прочие водные беспозвоночные, готовы... IL-ИЗРАИЛЬ                     92032.0
                                                   KZ-КАЗАХСТАН                  269248.0
                                                   US-СОЕДИНЕННЫЕ ШТАТЫ           77696.0

                                                                         country_sum_2021
tn_ved                                             country
1601001000-Готовые пищевые продукты, изготовлен... AZ-АЗЕРБАЙДЖАН                 2998.98
                                                   BY-БЕЛАРУСЬ                     590.86
                                                   KZ-КАЗАХСТАН                 110393.53
1601009100-Колбасы, сухие или пастообразные, cырые AM-АРМЕНИЯ                   225700.43
                                                   AZ-АЗЕРБАЙДЖАН               436282.16
...                                                                                   ...
1605620000-Морские ежи готовые или консервирова... 0                                 0.00
                                                   KZ-КАЗАХСТАН                      0.00
1605690000-Прочие водные беспозвоночные, готовы... IL-ИЗРАИЛЬ                     9088.80
                                                   KZ-КАЗАХСТАН                   6826.11
                                                   US-СОЕДИНЕННЫЕ ШТАТЫ          39858.16

[346 rows x 2 columns]